In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Gapminder.csv", sep = ";")

In [32]:
df = df.rename(columns={"country":"pais", "continent":"continente", "year":"ano", "lifeExp":"expec_vida", "gdpPercap":"PIB"})

In [39]:
df.head() #retorno dos primeiros dados, podendo possuir limite informado dentro dos parentesses
df.tail() #retorno dos ultimos dados
df.describe() #traz a descricao dos dados

          pais continente   ano  expec_vida       pop         PIB
3307  Zimbabwe     Africa  1987      62.351   9216418  706.157306
3308  Zimbabwe     Africa  1992      60.377  10704340  693.420786
3309  Zimbabwe     Africa  1997      46.809  11404948  792.449960
3310  Zimbabwe     Africa  2002      39.989  11926563  672.038623
3311  Zimbabwe     Africa  2007      43.487  12311143  469.709298

In [41]:
df.shape #tot linhas colunas
df.columns #tot colunas 
df.dtypes #types do conjunto

               ano   expec_vida           pop            PIB
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [50]:
df["continente"].unique() #retorna determinado dado entre determinada tabela informada

#determina certo parametro em alguma variavel
#sendo loc a localizacao
Oceania = df.loc[df['continente'] == 'Oceania']
print(Oceania)
Oceania['continente'].unique()

                 pais continente   ano  expec_vida     pop          PIB
975              Fiji    Oceania  1962      56.494  421869  2039.393277
976              Fiji    Oceania  1967      58.607  485000  2170.073285
977              Fiji    Oceania  1972      60.642  544000  2797.759484
978              Fiji    Oceania  1977      62.669  599339  3182.569600
979              Fiji    Oceania  1982      64.683  658906  3209.257468
...               ...        ...   ...         ...     ...          ...
2696  Solomon Islands    Oceania  1987      55.785  300694  1783.648762
2697  Solomon Islands    Oceania  1992      58.270  358713  2109.894257
2698  Solomon Islands    Oceania  1997      60.708  424265  2252.491044
2699  Solomon Islands    Oceania  2002      62.274  494786  1530.496068
2700  Solomon Islands    Oceania  2007      63.570  566842  1829.317402

[74 rows x 6 columns]

array(['Oceania'], dtype=object)

In [51]:
#agrupamento em 'continente' com retorno quantitativo
df.groupby('continente')['pais'].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: pais, dtype: int64

In [60]:
df.groupby('ano')['expec_vida'].mean().head() #traz a media `mean` de expec_vida em cada ano

ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
Name: expec_vida, dtype: float64